@{
    Layout = null;
}
@model WebSystemTemplet.Model.GoodsBaseInfo
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改商品</title>
    <meta name="description" content="修改商品">
    <meta name="keywords" content="修改商品">
    @Html.Partial("~/Views/Common/SharePart.cshtml")
</head>
<body>
    <header class="am-topbar admin-header">
        @Html.Partial("~/Views/Common/TopBar.cshtml")
    </header>
    <div class="am-cf admin-main">
        <!-- content start -->
        <div class="admin-content">
            <ol class="am-breadcrumb">
                <li><a href="~/Home/IndexPage" class="am-icon-home">首页</a></li>
                <li><a href="~/GoodsManager/IndexPage">商品管理</a></li>
                <li class="am-active">修改商品</li>
            </ol>
            <hr />
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
                    <div class="am-container am-hide-sm-only" style=" height: 50px; "></div>
                </div>
                <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
                    <form class="am-form am-form-horizontal" id="formAddUserInfo">
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label"> 修改商品信息：</label>
                            <div class="am-u-sm-9">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label"> 类别</label>
                            <div class="am-u-sm-9">
                                <select data-am-selected="{btnSize: 'sm'}" id="slctParent"></select>
                                <select id="goods-category" data-am-selected="{btnSize: 'sm'}"></select>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label">商品名</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="required" id="goods-name" placeholder="该商品名称" data-foolish-msg="该商品已存在！" value="@(Model!=null?Model.GoodsName:"")" />
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label"> 商品描述</label>
                            <div class="am-u-sm-9">
                                <textarea class="required" id="goods-describe" placeholder="对该商品的详尽描述" rows="20">@(Model != null ? Model.Describe : "")</textarea>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label">价格</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="goods-price" placeholder="该商品众筹价格" value="@(Model!=null?Model.Price:"")" />
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label"> 展示图片</label>
                            <div class="am-panel-bd">
                                <div class="am-g">
                                    <div class="am-u-md-8">
                                        <div class="am-form-group am-form-file">
                                            <button id="uploadFileButton" type="button" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                                            </button>
                                            <input id="doc-form-file" name="userIcon" type="file" accept="image/gif, image/jpeg, image/png">
                                            <button id="uploadImg" type="button" style="display:none" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> 开始上传
                                            </button>
                                            <button id="exitUpload" type="button" style="display:none" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-remove"></i> 取消
                                            </button>
                                        </div>
                                        <div id="file-list"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label"></label>
                            <input id="hdShowIcons" type="hidden" value="@Model.ShowIcons," />
                            <div class="am-u-sm-9">
                                <div id="divImages">
                                    <img id="userIcon" style="max-height: 150px;" class="am-img-circle am-img-thumbnail" src="@(Model.ShowIcons.Replace("localhost", "localhost:39356"))" alt="" /> &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="goods-name" class="am-u-sm-3 am-form-label"> 详情页图片</label>
                            <div class="am-panel-bd">
                                <div class="am-g">
                                    <div class="am-u-md-8">
                                        <div class="am-form-group am-form-file">
                                            <button id="uploadFileButton1" type="button" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                                            </button>
                                            <input id="doc-form-file1" name="userIcon" type="file" accept="image/gif, image/jpeg, image/png">
                                            <button id="uploadImg1" type="button" style="display:none" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> 开始上传
                                            </button>
                                            <button id="exitUpload1" type="button" style="display:none" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-remove"></i> 取消
                                            </button>
                                        </div>
                                        <div id="file-list1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label"></label>
                            <input id="hdDetailIcons" type="hidden" value="@Model.DetailIcons," />
                            <div class="am-u-sm-9">
                                <div id="divImages1">
                                    @foreach (var item in Model.DetailIcons.Split(','))
                                    {
                                        <img id="userIcon" style="max-height: 150px;" class="am-img-circle am-img-thumbnail" src="@(item.Replace("localhost", "localhost:39356"))" alt="" />
                                    } &nbsp;
                                </div>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button id="btncommit" type="button" class="am-btn am-btn-primary">确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- content end -->
    </div>
    @Html.Partial("~/Views/Common/FootPart.cshtml")
    @Html.Partial("~/Views/Common/TipsTool.cshtml")
</body>
</html>
<script src="~/Resources/js/ajaxfileupload.js"></script>
<script>
    var ShowIcons = $("#hdShowIcons").val();
    var DetailIcons = $("#hdDetailIcons").val();

    $(function () {
        bindFunction();
    });

    // 绑定事件
    function bindFunction() {
        // 文本框获取焦点，隐藏tips
        $('input').focus(function () {
            if (tipInput && $(this).attr('id') == tipInput.attr('id')) {
                tipInput.removeClass('am-field-error').parent().parent().removeClass('am-form-error');
                tipInput = null;
                hideToolTips();
            }
        });
        //label标签字体细化
        $("label").css("font-weight", "normal");
        //初始化下拉列表
        LoadCategory(0, 1);
        $("#slctParent").on("change", function () {
            LoadCategory($(this).val(), 2)
        });
        // 提交用户信息
        $('#btncommit').click(commitUserInfo);

        // 选择图片
        $(document).on('change', '#doc-form-file', function () {
            if (this.files.length == 0) {
                // 清空文件域
                clearFileList();
                return false;
            }
            var fileName = this.files[0].name;
            var fileType = this.files[0].type;

            if (!fileName || (fileType != 'image/jpeg' && fileType != 'image/gif' && fileType != 'image/png')) {
                // 清空文件域
                clearFileList();
                return false;
            }
            if (fileName && fileName.length > 15) {
                fileName = fileName.substr(0, 14) + "..."
            }
            $('#file-list').html('<span class="am-badge" maxlength=5>' + fileName + '</span> ');

            $('#doc-form-file').hide();
            $('#uploadFileButton').hide();
            $('#uploadImg').show();
            $('#exitUpload').show();
        });

        $(document).on('change', '#doc-form-file1', function () {
            if (this.files.length == 0) {
                // 清空文件域
                clearFileList();
                return false;
            }
            var fileName = this.files[0].name;
            var fileType = this.files[0].type;

            if (!fileName || (fileType != 'image/jpeg' && fileType != 'image/gif' && fileType != 'image/png')) {
                // 清空文件域
                clearFileList();
                return false;
            }
            if (fileName && fileName.length > 15) {
                fileName = fileName.substr(0, 14) + "..."
            }
            $('#file-list1').html('<span class="am-badge" maxlength=5>' + fileName + '</span> ');
            $('#doc-form-file1').hide();
            $('#uploadFileButton1').hide();
            $('#uploadImg1').show();
            $('#exitUpload1').show();
        });
        // 上传图片
        $('#uploadImg').click(function () {
            $('#uploadImg>i').attr('class', "am-icon-spinner am-animation-spin");
            $('#exitUpload').hide();
            $('#uploadImg').attr("disabled", true);

            // 这里写访问服务器事件
            $.ajaxFileUpload({
                url: '/UserInfo/UploadIcon.do',
                secureuri: false,//一般设置为false
                fileElementId: 'doc-form-file',
                dataType: 'text/html',
                success: function (result, status) {
                    //服务器成功响应处理函数
                    var reg = /<pre.+?>(.+)<\/pre>/g;
                    var result = result.match(reg);
                    result = RegExp.$1;
                    data = eval('(' + result + ')');
                    if (data && data.Message == "OK") {
                        //先清空再添加
                        $('#divImages').html("");
                        $('#divImages').append('<img id="userIcon" style="max-height: 150px;" class="am-img-circle am-img-thumbnail" src="' + (data.ImgUrl).replace('localhost', 'localhost:39356') + '" alt="" /> &nbsp;');
                        ShowIcons = data.ImgUrl + ",";
                    } else {
                        alert(data.Message);
                    }
                },
                error: function () {
                    //服务器响应失败处理函数
                    alert('上传失败！请重新选择图片');
                },
                complete: function () {
                    $('#uploadImg').removeAttr("disabled");
                    showUploadFileButton();
                }
            })
        });

        //懒得判断了直接再写一遍
        $('#uploadImg1').click(function () {
            $('#uploadImg1>i').attr('class', "am-icon-spinner am-animation-spin");
            $('#exitUpload1').hide();
            $('#uploadImg1').attr("disabled", true);

            // 这里写访问服务器事件
            $.ajaxFileUpload({
                url: '/UserInfo/UploadIcon.do',
                secureuri: false,//一般设置为false
                fileElementId: 'doc-form-file1',
                dataType: 'text/html',
                success: function (result, status) {
                    //服务器成功响应处理函数
                    var reg = /<pre.+?>(.+)<\/pre>/g;
                    var result = result.match(reg);
                    result = RegExp.$1;
                    data = eval('(' + result + ')');
                    if (data && data.Message == "OK") {
                        $('#divImages1').append('<img id="userIcon" style="max-height: 150px;" class="am-img-circle am-img-thumbnail" src="' + (data.ImgUrl).replace('localhost', 'localhost:39356') + '" alt="" /> &nbsp;');
                        DetailIcons += data.ImgUrl + ",";
                    } else {
                        alert(data.Message);
                    }
                },
                error: function () {
                    //服务器响应失败处理函数
                    alert('上传失败！请重新选择图片');
                },
                complete: function () {
                    $('#uploadImg1').removeAttr("disabled");
                    showUploadFileButton1();
                }
            })
        });

        // 取消上传
        $('#exitUpload').click(function () {
            showUploadFileButton()
        });
        $('#exitUpload1').click(function () {
            showUploadFileButton1()
        });
    }
    // 显示上传和取消按钮
    function showUploadFileButton() {
        $('#uploadImg>i').attr('class', "am-icon-cloud-upload");
        $('#uploadImg').hide();
        $('#exitUpload').hide();
        $('#doc-form-file').show();
        $('#uploadFileButton').show();
        // 清空文件域
        clearFileList();

        $('#file-list').html('');
    }
    function showUploadFileButton1() {
        $('#uploadImg1>i').attr('class', "am-icon-cloud-upload");
        $('#uploadImg1').hide();
        $('#exitUpload1').hide();
        $('#doc-form-file1').show();
        $('#uploadFileButton1').show();
        // 清空文件域
        clearFileList();

        $('#file-list1').html('');
    }

    // 清空文件域
    function clearFileList() {
        var file = $("#doc-form-file");
        file.after(file.clone(true).val(""));
        file.remove();
    }


    //1查第一级别 2查第二级别
    function LoadCategory(parentID, type) {
        $.get('@Url.RouteUrl(new { controller = "GoodsManager", action = "GetCategoryInfo" })', { ParentID: parentID }, function (result) {
            //清除第二级列表
            $('#goods-category option').remove();
            if (result) {
                if (type == 1) {
                    $('#slctParent option').remove();
                    if (result.Rows != null && result.Rows.length > 0) {
                        var selected = "";
                        for (var i = 0; i < result.Rows.length; i++) {
                            var row = result.Rows[i];
                            if (row.ID == "@Model.ParentId") {
                                selected = "selected=selected";
                            }
                            else {
                                selected = "";
                            }
                            $('#slctParent').append("<option id='opParent" + i + "' value='" + row.ID + "' " + selected + ">" + row.CategoryName + "</option>")
                        }
                    }
                }
                else if (type == 2) {
                    if (result.Rows != null && result.Rows.length > 0) {
                        var row = result.Rows[i];
                        var selected = "";
                        for (var i = 0; i < result.Rows.length; i++) {
                            var row = result.Rows[i];
                            if (row.ID == "@Model.Category") {
                                selected = "selected=selected";
                            }
                            else {
                                selected = "";
                            }
                            $('#goods-category').append("<option id='opParent" + i + "' value='" + row.ID + "' " + selected + ">" + row.CategoryName + "</option>")
                        }
                    }
                }
            }
        }, 'json');
    }

    var data = {};
    var tipInput;
    function commitUserInfo() {
        data.GoodsName = $.trim($('#goods-name').val());
        data.Describe = $.trim($('#goods-describe').val());
        data.Price = $.trim($('#goods-price').val());
        data.Category = $('#goods-category').val();
        data.ID = "@Model.ID";
        data.ShowIcons = ShowIcons;
        data.DetailIcons = DetailIcons;
        if (checkData()) {
            // 提交数据
            $.post('@Url.RouteUrl(new { controller = "GoodsManager", action = "UpdateGoodsCallBack" })', data, function (result) {
                if (result && result.Message == 'OK') {
                    alert("修改成功");
                    location.href = '/GoodsManager/IndexPage.html';
                }
                else {
                    alert(result.Message);
                    return;
                }
            }, 'JSON');
        }
    }

    function checkData() {
        var reg = /^[0-9]+([.]{1}[0-9]+){0,1}$/;
        if (!data.GoodsName || data.GoodsName.length == 0) {
            tipInput = $('#goods-name');
            showToolTips(tipInput, "请输入商品名");
            tipInput.addClass('am-field-error').parent().parent().addClass('am-form-error');
            return false;
        }
        if (!data.Describe || data.Describe.length < 10) {
            tipInput = $('#goods-describe');
            showToolTips(tipInput, "商品描述必须大于10个字");
            tipInput.addClass('am-field-error').parent().parent().addClass('am-form-error');
            return false;
        }
        if (!reg.test(data.Price)) {
            tipInput = $('#goods-price');
            showToolTips(tipInput, "价格填写不正确");
            tipInput.addClass('am-field-error').parent().parent().addClass('am-form-error');
            return false;
        }
        if (data.ShowIcons == "" && data.DetailIcons == "") {
            alert("添加完成，您并未上传任何图片，为保证商品的完整性请在商品列表中继续编辑完善图片");
            location.href = '/GoodsManager/IndexPage.html';
            return false;
        }
        return true;
    }
</script>
