@{
    Layout = null;
}
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <meta name="description" content="商品管理">
    <meta name="keywords" content="商品管理 一元易购物 众筹管理后台">
    @Html.Partial("~/Views/Common/SharePart.cshtml")
    <style>
        .am-progress {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <header class="am-topbar admin-header">
        @Html.Partial("~/Views/Common/TopBar.cshtml")
    </header>
    <div class="am-cf admin-main">
        <!-- sidebar start -->
        <div id="doc-oc-demo1" class="am-offcanvas">
            <div class="am-offcanvas-bar">
                <ul class="am-list admin-sidebar-list">
                    <li><a href="~/goodsmanager/IndexPage"><span></span> 全部</a></li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}">
                            <span></span> 手机数码 <span class="am-icon-angle-right am-fr am-margin-right"></span>
                        </a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                            <li><a href="admin-user.html" class="am-cf"><span></span> 手机</a></li>
                            <li><a href="admin-help.html"><span></span> 台式机</a></li>
                            <li><a href="admin-gallery.html"><span></span> 笔记本</a></li>
                            <li><a href="admin-log.html"><span></span> 电脑周边</a></li>
                            <li><a href="admin-404.html"><span></span> 手机周边</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}">
                            <span></span> 电器电脑
                        </a>
                        <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav">
                            <li><a href="admin-user.html" class="am-cf"><span></span> 手机</a></li>
                            <li><a href="admin-help.html"><span></span> 台式机</a></li>
                            <li><a href="admin-gallery.html"><span></span> 笔记本</a></li>
                            <li><a href="admin-log.html"><span></span> 电脑周边</a></li>
                            <li><a href="admin-404.html"><span></span> 手机周边</a></li>
                        </ul>
                    </li>
                    <li><a href="admin-form.html"><span></span> 家居日用</a></li>
                    <li><a href="#"><span></span>  衣服鞋帽</a></li>
                    <li><a href="#"><span></span>  图书音像</a></li>
                </ul>
                <div class="am-panel am-panel-default admin-sidebar-panel">
                    <button id="btncommit" style="width:100%" type="button" class="am-btn am-btn-primary">编辑分类</button>
                </div>
            </div>
        </div>
        <!-- sidebar end -->
        <!-- content start -->
        <div class="admin-content">
            <ol class="am-breadcrumb">
                <li><a href="~/Home/IndexPage" class="am-icon-home">首页</a></li>
                <li class="am-active"><a href="~/GoodsManager/IndexPage">商品管理</a></li>
            </ol>
            <hr />
            <div class="am-g">
                @*<div class="am-u-sm-12 am-u-md-4">
                    <ol class="am-breadcrumb">
                        <li><a href="/goodsmanager/editcategoryinfo">编辑商品分类</a></li>
                    </ol>
                </div>*@
                <div class="am-u-sm-12 am-u-md-2">
                    <div class="am-form-group">
                        <select id="slctHuoDongState" data-am-selected="{btnSize: 'sm'}">
                            <option value="-1">所有商品</option>
                            <option value="0">未众筹</option>
                            <option value="10">众筹中</option>
                            @*<option value="20">未开奖</option>*@
                            <option value="30">已开奖</option>
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" id="txtKeyWords" class="am-form-field">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" id="btnSearch" type="button">搜索</button>
                        </span>
                    </div>
                </div>
            </div>
            @*<div class="am-g">
                <div class="am-u-sm-12 am-u-md-12">
                    <a href="#"><span class="am-badge am-badge-secondary"> 默认排序</span></a>
                    <a href="#"><span class="am-badge am-badge-secondary am-icon-unsorted"> 价格</span></a>
                    <a href="#"><span class="am-badge am-badge-secondary am-icon-sort-desc"> 价格</span></a>
                    <a href="#"><span class="am-badge am-badge-secondary am-icon-sort-alpha-asc"> 商品名称</span></a>
                    <a href="#"><span class="am-badge am-badge-secondary am-icon-sort-numeric-desc"> 参与人数</span></a>
                </div>
            </div>*@
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table id="tableData" class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                                <tr>
                                    <th class="table-id am-text-center">ID</th>
                                    <th class="table-title">商品名称</th>
                                    <th class="table-author">商品分类</th>
                                    @*<th class="table-author">商品描述</th>*@
                                    <th class="table-type am-hide-sm-only">众筹价格</th>
                                    <th class="table-type am-hide-sm-only">众筹状态</th>
                                    <th class="table-date am-hide-sm-only">创建时间</th>
                                    <th class="table-set">操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="am-cf">
                            共 <span id="recordCount"></span> 个商品
                            <div class="am-fr">
                                <ul id="pagination" class="am-pagination"></ul>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="dataTableTemplet" style="display:none">
                    <tr>
                        <td class="am-text-center">{Index}</td>
                        <td><a href="javascript:void(0)" onclick="ShowGoods('{ID}');" style="color: #131313; text-decoration: none; cursor: pointer; width: 200px; display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{GoodsName}</a></td>
                        <td>{Category}</td>
                        @*<td>{Describe}</td>*@
                        <td class="am-hide-sm-only">{Price}</td>
                        <td class="am-hide-sm-only">{State}</td>
                        <td class="am-hide-sm-only">{CreateTime}</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" onclick="ShowGoods('{ID}');" class="am-btn am-btn-default am-btn-xs am-text-secondary am-hide-sm-only"><span class="am-icon-eye"></span> 查看</button>
                                    <button type="button" onclick="EditGoods('{ID}');" class="am-btn am-btn-default am-btn-xs am-text-secondary am-hide-sm-only"><span class="am-icon-edit"></span> 编辑</button>
                                    <button type="button" flag="{Display}" onclick="DeleteGoods('{ID}');" class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                    <button type="button" flag="{Display}" onclick="AddToHuoDong('{ID}','{Price}','{HuoDongID}');" class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-align-justify"></span> 加入众筹</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- content end -->
    </div>
    <!--众筹弹出-->
    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">设置众筹时间</div>
            <div class="am-modal-bd">
                <p>该日期是众筹最后截止时间，请慎重选取！</p>
                <p><input type="text" id="txtFinishedTime" class="am-form-field" placeholder="点击选择众筹结束时间" data-am-datepicker="{theme: 'success'}" readonly /></p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消众筹</span>
                <span class="am-modal-btn" data-am-modal-confirm>确认众筹</span>
            </div>
        </div>
    </div>
    <!--弹出结束-->
    @Html.Partial("~/Views/Common/FootPart.cshtml")
    <script type="text/javascript" src="/Resources/js/jqPaginator.js"></script>
    <script>
        var pageSize = 15;
        var pageIndex = 1;
        var isSearching = false;
        // 分页配置
        var pageOptions = {
            totalPages: 1,
            currentPage: 1,
            visiblePages: 5,
            onPageChange: function (num, type) {
                if (type == 'init' || num < 1) {
                    return false;
                }
                pageIndex = num;
                isSearching = false;
                search(false);
            }
        }
        $(function () {
            initCss();
            bindFunction();
            loadData();
            $("#btnSearch").click(function () {
                isSearching = false;
                search(true);
            });
            $("#slctHuoDongState").change(function () {
                isSearching = false;
                search(true);
            });
        });

        function initCss() {
            // 初始化分页
            $.jqPaginator('#pagination', pageOptions);
        }
        /****************上传图片***************/
        function bindFunction() {
            // 选择图片
            $('#doc-form-file').on('change', function () {
                if (this.files.length == 0) {
                    // 清空文件域
                    clearFileList();
                    return false;
                }
                var fileName = this.files[0].name;
                var fileType = this.files[0].type;

                if (!fileName || (fileType != 'image/jpeg' && fileType != 'image/gif' && fileType != 'image/png')) {
                    // 清空文件域
                    alert(fileType);
                    clearFileList();
                    return false;
                }
                if (fileName && fileName.length > 15) {
                    fileName = fileName.substr(0, 14) + "..."
                }
                $('#file-list').html('<span class="am-badge" maxlength=5>' + fileName + '</span> ');

                $('#doc-form-file').hide();
                $('#uploadFileButton').hide();
                $('#uploadImg').show();
                $('#exitUpload').show();
            });

            // 上传图片
            $('#uploadImg').click(function () {
                $('#uploadImg>i').attr('class', "am-icon-spinner am-animation-spin");
                $('#exitUpload').hide();
                $('#uploadImg').attr("disabled", true);

                // 这里写访问服务器事件

                $("#fileForm").ajaxSubmit({
                    dataType: 'text/html',
                    type: 'post',
                    url: 'UploadIcon.do',
                    success: function (result) {
                        var reg = /<pre.+?>(.+)<\/pre>/g;
                        var result = result.match(reg);
                        result = RegExp.$1;
                        alert(result);
                        data = eval('(' + result + ')');
                        if (data && data.Message == "OK") {
                            // 替换头像
                            $('#userIcon').attr('src', data.ImgUrl);
                        } else {
                            alert(data.Message);
                        }
                        $('#uploadImg').removeAttr("disabled");
                        showUploadFileButton();
                    }
                });

            });

            // 取消上传
            $('#exitUpload').click(function () {
                showUploadFileButton()
            });

        }


        // 显示上传和取消按钮
        function showUploadFileButton() {
            $('#uploadImg>i').attr('class', "am-icon-cloud-upload");
            $('#uploadImg').hide();
            $('#exitUpload').hide();
            $('#doc-form-file').show();
            $('#uploadFileButton').show();
            // 清空文件域
            clearFileList();

            $('#file-list').html('');
        }
        // 清空文件域
        function clearFileList() {
            var file = $("#doc-form-file");
            file.after(file.clone(true).val(""));
            file.remove();
        }
        /***************************************/
        function loadData() {
            pageOptions.totalPages = 5;
            pageOptions.currentPage = 1;
            $.jqPaginator('#pagination', pageOptions);
            search(true);
        }

        function search(isFirst) {
            // 正在查询
            if (isSearching) {
                return;
            }
            if (isFirst) {
                pageIndex = 1;
            }

            // 整理参数
            var data = {
                PageSize: pageSize,
                CurrentPage: pageIndex,
                KeyWords: $('#txtKeyWords').val(),
                HuoDongState: $("#slctHuoDongState").val()
            };
            isSearching = true;
            $.get('@Url.RouteUrl(new { controller = "GoodsManager", action = "GetGoodsList" })', data, function (result) {
                if (result) {
                    $('#recordCount').text(parseInt(result.AllCount));
                    // 清空数据
                    $("#tableData>tbody").html('');
                    if (result.Rows != null && result.Rows.length > 0) {
                        for (var i = 0; i < result.Rows.length; i++) {
                            var row = result.Rows[i];
                            var rowHtml = $("#dataTableTemplet>tbody").html();
                            rowHtml = rowHtml.replace("{Index}", i + 1);
                            rowHtml = rowHtml.replace(/{GoodsName}/g, row.GoodsName);
                            //rowHtml = rowHtml.replace("{Describe}", row.Describe);
                            rowHtml = rowHtml.replace(/{Price}/g, row.Price);
                            rowHtml = rowHtml.replace("{Category}", row.Category);
                            rowHtml = rowHtml.replace("{CreateTime}", row.CreateTime);
                            rowHtml = rowHtml.replace(/{ID}/g, row.ID);
                            rowHtml = rowHtml.replace(/{HuoDongID}/g, row.HuoDongID);
                            rowHtml = rowHtml.replace("{State}", row.State == "0" ? "<span style='color:red'>未众筹</span>" : (row.State == "10" ? "<span style='color:green'>众筹中</span>" : (row.State == "20" ? "待开奖" : "已开奖(可重新加入到下一期众筹)")));
                            if (row.State == "10" || row.State=="20") {
                                rowHtml = rowHtml.replace(/{Display}/g, "None");
                            }
                            else {
                                rowHtml = rowHtml.replace(/{Display}/g, "Block");
                            }
                            $("#tableData>tbody").append($(rowHtml));
                        }
                        $(".am-btn-group-xs button[flag='None']").remove();
                    }
                    pageOptions.totalPages = Math.ceil(parseInt(result.AllCount) / pageSize);
                    pageOptions.currentPage = pageIndex;
                    $.jqPaginator('#pagination', pageOptions);
                }
                else {
                    alert("查询出错");
                }
                isSearching = false;
            }, 'json');
        }

        function ShowGoods(id) {
            location.href = '/GoodsManager/GetGoodsInfo?goodsid=' + id;
        }
        function EditGoods(id) {
            location.href = '/GoodsManager/EditGoodsInfo?goodsid=' + id;
        }

        function AddToHuoDong(id, price,huodongid) {
            $('#my-prompt').modal({
                relatedTarget: this,
                onConfirm: function (e) {
                    var data = {
                        GoodsID: id,
                        ShareCount: price,
                        FinishedTime: $("#txtFinishedTime").val(),
                        ID: huodongid
                    };

                    $.post('@Url.RouteUrl(new { controller = "GoodsManager", action = "AddHuoDong" })', data, function (result) {
                        if (result && result.Message == 'OK') {
                            location.href = '/GoodsManager/IndexPage';
                        }
                    });
                },
                onCancel: function (e) {
                    return false;
                }
            });
        }
        function DeleteGoods(id) {
            var data = {};
            data.ID = id;
            if (confirm("删除后不可恢复，确认删除么？")) {
                $.post('@Url.RouteUrl(new { controller = "GoodsManager", action = "DeleteGoodsInfo" })', data, function (result) {
                    if (result && result.Message == 'OK') {
                        location.href = '/GoodsManager/IndexPage.html';
                    }
                    else {
                        alert(result.Message);
                        return;
                    }
                }, 'JSON');
            }
            else {
                return false;
            }
        }
    </script>
</body>
</html>
