@using WebSystemTemplet.Model
@using WebSystemTemplet.Model.Admin
@{
    Layout = "~/Views/Admin/Common/_Layout.cshtml";
}
@*菜单ID*@
<input type="hidden" id="admin-current-menu-id" value="menu-home" />
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">

        <div class="row am-cf">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
                <div class="tpl-user-card am-text-center widget-body-lg">
                    <div class="tpl-user-card-title">
                        @(Identity.LoginUserInfo.RealName)
                    </div>
                    <div class="achievement-subheading">
                        @(Identity.LoginUserInfo.UserName)
                    </div>
                    <img class="achievement-image" src="@(Identity.LoginUserInfo.IconUrl)" alt="">
                    <div class="achievement-description">
                        上次登录地点：@(ViewBag.LastIpArea)
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">专用服务器负载</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body widget-body-md am-fr">
                        <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
                        <div class="am-progress">
                            <div class="am-progress-bar" style="width: 15%"></div>
                        </div>
                        <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
                        <div class="am-progress">
                            <div class="am-progress-bar  am-progress-bar-warning" style="width: 75%"></div>
                        </div>
                        <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span></div>
                        <div class="am-progress">
                            <div class="am-progress-bar am-progress-bar-danger" style="width: 35%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  am-cf">
            <div class="am-u-lg-12 widget-margin-bottom-lg">
                <div class="widget am-cf widget-body-lg">
                    <div class="widget-body  am-fr">
                        <div class="am-scrollable-horizontal ">
                            <table class="am-table am-table-compact am-text-nowrap tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th>操作时间</th>
                                        <th>操作用户</th>
                                        <th>操作类型</th>
                                        <th>操作内容</th>
                                        <th>IP地址</th>
                                        <th>执行结果</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        List<MSSystemOperateLog> logList = ViewBag.LogList as List<MSSystemOperateLog>;
                                        if (logList != null && logList.Count > 0)
                                        {
                                            foreach (MSSystemOperateLog log in logList)
                                            {
                                                <tr class="gradeX">
                                                    <td>@log.OperateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                                    <td>@Identity.LoginUserInfo.RealName</td>
                                                    <td>@log.LogTile</td>
                                                    <td>@log.LogMsg</td>
                                                    <td>@log.IpAddress</td>
                                                    <td>成功</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="gradeX">
                                                <td colspan="6">暂无操作日志</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>